* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Monument Grotesk;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

ul {
  list-style: none;
}


.background .backgrounds {
  width: 100%;
  height: 100%;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  background-attachment: fixed;
}

.overlay::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: #0a2252;
  opacity: 0.8;
}

.backgrounds {
  background-image: url(../images/home3.jpg);
}

.site-header {
  position: relative;
  margin: 25px;
}

.site-header .site-logo img {
  width: 160px;
}

.button_container {
  position: fixed;
  top: 5%;
  right: 2%;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  transition: opacity 0.25s ease;
}

.button_container:hover {
  opacity: 0.7;
}

.button_container.active .top {
  transform: translateY(10px) translateX(0) rotate(45deg);
  background: #FFF;
}

.button_container.active .middle {
  opacity: 0;
  background: #FFF;
}

.button_container.active .bottom {
  transform: translateY(-10px) translateX(0) rotate(-45deg);
  background: #FFF;
}

.button_container span {
  background: #fff;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  transition: all 0.35s ease;
  cursor: pointer;
}

.button_container span:nth-of-type(2) {
  top: 10px;
}

.button_container span:nth-of-type(3) {
  top: 20px;
}

.ormen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.35s, width 0.35s;
  z-index: 50;
}

.ormen:before {
  content: "";
  background: #0a2252;
  left: -55%;
  top: 0;
  width: 50%;
  height: 100%;
  position: absolute;
  transition: left 0.35s ease;
}

.ormen:after {
  content: "";
  background: #0a2252;
  right: -55%;
  top: 0;
  width: 50%;
  height: 100%;
  position: absolute;
  transition: all 0.35s ease;
}

.ormen.open {
  opacity: 0.5;
  visibility: visible;
  height: 100%;
}

.ormen.open:before {
  left: 0;
}

.ormen.open:after {
  right: 0;
}

.ormen.open li {
  animation: fadeInRight 0.5s ease forwards;
  animation-delay: 0.35s;
}

.ormen.open li:nth-of-type(2) {
  animation-delay: 0.45s;
}

.ormen.open li:nth-of-type(3) {
  animation-delay: 0.55s;
}

.ormen.open li:nth-of-type(4) {
  animation-delay: 0.65s;
}

.ormen nav {
  position: relative;
  height: 70%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  font-weight: normal;
  text-align: center;
  z-index: 100;
}

.ormen ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}

.ormen ul li {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}

.ormen ul li a {
  display: block;
  position: relative;
  color: #FFF;
  text-decoration: none;
  overflow: hidden;
}

.ormen ul li a:hover:after,
.ormen ul li a:focus:after,
.ormen ul li a:active:after {
  width: 100%;
}

.ormen ul li a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  transform: translateX(-50%);
  height: 3px;
  background: #FFF;
  transition: 0.35s;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }

  100% {
    opacity: 1;
    left: 0;
  }
}